<% if !@error.nil? %>
  <p><%= @error %></p>
<% end %>
	<div class="row">
		<div class="col-md-8">
			<h2>What's Your Numerology Message?</h2>
		</div>
	<form class="col-md-3" action="/" method="post">
		<div class="form-group"><label for="birthdate">
		Enter Your Birthdate in this format: MMDDYYYY
		</label>
		<input class="form-control" name="birthdate" type="text" /></div>
		<input class="btn btn-default" type="submit" />
	</form>
</div>