<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/people.css">
<title>Numerology App</title>
</head>
<body>
<div class="container">
	<header class="row">
		<div class="col-lg-3 col-sm-3">
			<img src="/images/numerology.jpg" class="img img-responsive">
		</div>
		<div class="col-lg-9 col-sm-9">
			<h1>Skillcrush Numerology App</h1>
		</div>
	</div>
<hr />
	
			<%= yield %>
</div>
</body>
</html>
